/* Along with position property we are able to use top, bottom, left, right property to change position of element */

.box {
    height: 200px;
    width: 200px;
    border: 2px solid;
}

#box1 {
    background-color: bisque;
    position: fixed;
    /* Fixed Element doesn't move on scrolling a page */
    right: 0px;
}

#box2 {
    background-color: aqua;
    position: relative;
    left: 200px;
}

#box3 {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    /* Absolute Positioned according to its parent element */
    top: 70px;
    left: 20px;
}