* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    /* vh means viewport height. Viewport is an area that is visible to us. It means 100% of viewport height. */
    background-color: gray;
}

.box {
    height: 50%;
    /* 50% height of its parent element i.e. div with container class */
    width: 50%;
    /* 50% width of its parent element i.e. div with container class */
    border: 2px solid;
    float: left;
    background-color: #fff;
}