#container {
    border: 2px solid;
}

#container p {
    background-color: yellow;
}

#container>p {
    background-color: lightblue;
}

#container~p {
    background-color: lightgreen;
}

#container+p {
    background-color: red;
}