.box {
    height: 200px;
    width: 200px;
    border: 2px solid;
}

#box1 {
    background-color: bisque;
    position: fixed;
    right: 0px;
}

#box2 {
    background-color: aqua;
    position: relative;
    left: 200px;
}

#box3 {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 20px;
}